.body_container {
  margin: 10px;
  padding: 10px 10px;
  overflow: auto;
  width: 100%;
}

.App {
  display: flex;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: rgb(247, 247, 247);
}

/* #footer {
  display: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
  width: 98%;
  background: gray;
  color: white;
  margin-top: auto;
  font-weight: 600;
} */
